<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>dragon</string>
		<key>description</key>
		<string>龙珠</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>girl</string>
		<key>description</key>
		<string>樱桃小丸子</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>robot_cat</string>
		<key>description</key>
		<string>机器猫</string>
	</dict>
</array>
</plist>
